<div class="container-fluid">
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                 <h4>LOAN ISSUE DETAILS</h4>
              </div>
              <div class='panel-body' id="loanReqPanel">
              <form>
                <div class="row">
             <div class="form-horizontal col-md-6">
                 <div class="form-group">
                        <label class="control-label col-sm-3" >From Date :</label>
                        <div class="col-sm-4">
                              <ejs-datepicker id='fromDate' placeholder='Select a date'  ></ejs-datepicker>
                        </div>
                 </div>
                 <div class="form-group">
                    <label class="control-label col-sm-3">Request ID :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="requestID">
                    </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Customer Name :</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="custName">
                        </div>
                     </div>
                 <div class="form-group">
                     <label class="control-label col-sm-3">Other Name List :</label>
                     <div class="col-sm-4">
                         <input type="text" class="form-control" id="otherNames">
                     </div>
                 </div>
                 <div class="form-group">
                     <label class="control-label col-sm-3">Address :</label>
                     <div class="col-sm-4">
                            <input type="text" class="form-control" id="addrList">
                        </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Loan Category :</label>
                        <div class="col-sm-4">
                               <input type="text" class="form-control" id="loanCategory">
                           </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Showroom/Agent :</label>
                        <div class="col-sm-4">
                               <input type="text" class="form-control" id="showroom">
                           </div>
                 </div>
                            
             </div>
             <div class="form-horizontal col-md-6">
                    <div class="form-group">
                            <label class="control-label col-sm-3" >To Date :</label>
                            <div class="col-sm-4">
                                  <ejs-datepicker id='fromDate' placeholder='Select a date'  ></ejs-datepicker>
                            </div>
                     </div>
                <div class="form-group">
                        <label class="control-label col-sm-3">Customer ID :</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="customerId">
                        </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">ID Proof List :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="proofList">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Contact List :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="contactList">
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-3">Line :</label>
                        <div class="col-sm-4">
                               <input type="text" class="form-control" id="line">
                           </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Area :</label>
                        <div class="col-sm-4">
                               <input type="text" class="form-control" id="area">
                           </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Keyword Search :</label>
                        <div class="col-sm-6">
                               <input type="text" class="form-control" id="wordSearch">
                           </div>
                 </div>
                
             </div>
             </div>
             <div class="row">
                    <div class="form-horizontal col-md-5"></div>
                    <div class="form-horizontal col-md-6">
                       <div class="form-group">
                           <div class="col-sm-6">
                                   <button type="button" class="btn btn-primary">Search</button>
                           </div>
                    </div>
                    </div>
                </div>
             <div class="form-horizontal col-md-12">
                    <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-2">Request Date</th>
                     <th class="col-md-2">Request ID</th>
                     <th class="col-md-1">Customer ID</th>
                     <th class="col-md-1">Customer Name</th>
                     <th class="col-md-2">Area</th>
                     <th class="col-md-2">Loan Amount</th>
                    <th class="col-md-1">Agent/Showroom</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr [routerLink]="['/HomeLoan']">
                    <td class="col-md-1">10/09/2019</td>
                    <td class="col-md-1">1</td>
                    <td class="col-md-2">1</td>
                    <td class="col-md-2">Kumar</td>
                    <td class="col-md-2">Erode Fort</td>
                    <td class="col-md-2">100000</td>
                    <td class="col-md-2">Sathya Electronics</td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
             </div>
             </form>
            </div>
        </div>
    </div>
    