
.panel-heading {
  position: sticky;
  width: 100%;
  z-index: 99999;
  top: 0;
}
td,th{
    padding:5px;
    }
    .modal-dialog
    {
    width:90%
    }
    .tab-content
    {
    padding-top:20px;
    }
    .custproof{
    width:75%;
    margin:auto;
    padding:20px;
    }
    .table-condensed{
      font-size: 12px;
    }
    .btncollection
    {
      margin-left: -10px !important;
    }
 
    .marginTop
    {
        width: 15px;
       height: 25px;
       margin-top: 7px;
    }
    .emptyDiv
    {
      height: 34px;
      padding: 3px;
    }
    .modal-dialog
{
    margin:80px auto !important;
}