<div class="container-fluid">
    <div class='panel panel-primary'>
      <div class='panel-heading'>
         <h4>Customer Detials</h4>
      </div>
      <div class='panel-body' id="panel">
      <form   >
        <div class="row">
     <div class=" form-horizontal col-md-12">
        <div class="form-group">
			<label class="control-label col-sm-3" >Branch :</label>
                <div class="col-sm-3">
                        <select class="form-control"   name="BranchID"  [(ngModel)]="customer.BranchID">
                                <option *ngFor="let l of Allbranch" value="{{l.BranchID}}">{{l.BranchName}}
                                 </option>                         
                                </select>
				</div>
				<label class="control-label col-sm-1" >Line :</label>
                <div class="col-sm-3">
                        <select class="form-control"  #lid="ngModel" [(ngModel)]="customer.LineID"  name="StateID">
                                <option *ngFor="let i of AllLine" value="{{i.TalukID}}">{{i.TalukName}}
                                 </option>                         
                                </select>
				</div>
			</div><div class="form-group">
			<label class="control-label col-sm-3" >Area :</label>
                <div class="col-sm-3">
                        <select class="form-control" #aid="ngModel" [(ngModel)]="customer.AreaID" name="StateID">
                                <option  *ngFor="let sa of AllArea" value="{{sa.AreaID}}">{{sa.AreaName}}
                                 </option>                         
                                </select>
				</div>
				<label class="control-label col-sm-1" >Sub Area :</label>
                <div class="col-sm-3">
                        <select class="form-control"  #lid="ngModel" [(ngModel)]="customer.SubAreaID"  name="StateID">
                                <option *ngFor="let l of AllLine" value="{{l.TalukID}}">{{l.TalukName}}
                                 </option>                         
                                </select>
				</div>
			</div>
			<div class="form-group">
			<label class="control-label col-sm-3" >Hint-1 :</label>
                <div class="col-sm-3">
				<input type="text" class="form-control col-sm-4" name="hint1" [(ngModel)]="customer.Hint1">
				</div>
				<label class="control-label col-sm-1" >Hint-2 :</label>
                <div class="col-sm-3">
				<input type="text" class="form-control" name="hint2" [(ngModel)]="customer.Hint2">
				</div>
			</div>
		</div>
		<div class="form-horizontal col-md-6">
			<div class="form-group">
					<label class="control-label col-sm-3">Customer ID :</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="customerId" [(ngModel)]="customer.CustomerID">
					</div>
			</div>
			<div class="form-group">
			<label class="control-label col-sm-3" >Customer Name :</label>
                <div class="col-sm-6">
				<input type="text" class="form-control col-sm-4" name="custName" [(ngModel)]="customer.CustName">
				</div>
				<label class="control-label col-sm-1" >Init:</label>
                <div class="col-sm-2 ">
				<input type="text" class="form-control" name="init" [(ngModel)]="customer.Initial">
				</div>
			</div>
			<div class="form-group">
			<label class="control-label col-sm-3" >Father Name :</label>
                <div class="col-sm-9 ">
				<input type="text" class="form-control" name="fatherName" [(ngModel)]="customer.FatherName">
				</div>
				
			</div>
			<div class="form-group">
			<label class="control-label col-sm-3" >Mother Name :</label>
                <div class="col-sm-9 ">
				<input type="text" class="form-control" name="motherName" [(ngModel)]="customer.MotherName">
				</div>		
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Gender :</label>
				<div class="col-sm-3">
						<select class="form-control" name="gender" [(ngModel)]="customer.Gender">
							<option>Male</option>
							<option>Female</option>
						</select>
					</div>
				<label class="control-label col-sm-3">Marital Status :</label>
				<div class="col-sm-3">
						<select class="form-control" name="maritalStatus" [(ngModel)]="customer.MaritalStatus">
							<option>Married</option>
							<option>Unmarried</option>
						</select>
					</div>
			</div>
			<div class="form-group">
					<label class="control-label col-sm-3">Spouse Name :</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" name="spouseName" [(ngModel)]="customer.SpouseName">
					</div>
				</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Resident Type:</label>
				<div class="col-sm-6">
						<select class="form-control" name="residentType" [(ngModel)]="customer.ResidentType">
							<option>Own</option>
                              <option>Rental</option>
                              <option>Agreement</option>
                              <option>Quarters</option>
						</select>
					</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Communication Address :</label>
				<div class="col-sm-9">
					<textarea class="form-control" name="address" [(ngModel)]="customer.CommAddress"></textarea>
				</div>
            </div>
            <div class="form-group">
                    <label class="control-label col-sm-3">Permanent Address:</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="permanentAddr" [(ngModel)]="customer.NativAddress"></textarea>
                    </div>
                </div>
			<div class="form-group">
				<label class="control-label col-sm-3">Contact No. :</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="contactNum1" [(ngModel)]="customer.CustContact1">
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="contactNum2" [(ngModel)]="customer.CustContact2">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Occupation Type :</label>
				<div class="col-sm-3">
					<select class="form-control" name="occType" [(ngModel)]="customer.OccupationType">
						<option>Business</option>
                          <option>Salaried-Govt</option>
                          <option>Salaried-Private</option>
                          <option>Dialywages</option>
                          <option>Others</option>
					</select>
				</div>
				<label class="control-label col-sm-3">Occupation Detail :</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="occDetail" [(ngModel)]="customer.OccupationDetail">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Aadhar :</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="aadhar" [(ngModel)]="customer.CustAadhar">
				</div>
				
				<div class="col-sm-3">
				<button type="button" class="form-control btn btn-primary" data-toggle="modal" data-target="#CustProof" >ID Proof </button>
				</div>
			</div>
				</div>
	<div class="form-horizontal col-md-6">
		<div class="form-group">
			<label class="control-label col-sm-3">Guarantor Name :</label>
			<div class="col-sm-7">
				<input class="form-control" type="text" name="guarantorName" [(ngModel)]="customer.GuarantorName">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Relationship :</label>
			<div class="col-sm-3">
				<select class="form-control" name="relation" [(ngModel)]="customer.Relationship">
					<option>Father</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Resident Type:</label>
			<div class="col-sm-7">
			<select class="form-control" name="guarantorResType" [(ngModel)]="customer.GResidentType">
				<option>Own</option>
                              <option>Rental</option>
                              <option>Agreement</option>
                              <option>Quarters</option>
			</select>
			</div>
		</div>
		<div class="form-group">
				<label class="control-label col-sm-3">Communication Address :</label>
				<div class="col-sm-7">
					<textarea class="form-control" name="gaddress" [(ngModel)]="customer.GAddress"></textarea>
				</div>
            </div>
            <div class="form-group">
                    <label class="control-label col-sm-3">Permanent Address:</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" name="permanentAddr" [(ngModel)]="customer.GPermAddress"></textarea>
                    </div>
                </div>
			<div class="form-group">
				<label class="control-label col-sm-3">Contact No. :</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="gcontactNum1" [(ngModel)]="customer.GContactNum1">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control" name="gcontactNum2" [(ngModel)]="customer.GContactNum2">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Aadhar :</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="Gaadhar" [(ngModel)]="customer.GAadhar"> 
				</div>
				<div class="col-sm-3">
				<button type="button" class="form-control btn btn-primary" data-toggle="modal" data-target="#GuarnProof">ID Proof </button>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Customer Status :</label>
				<div class="col-sm-4">
					<select class="form-control" name="custStatus" [(ngModel)]="customer.CustStatus">
                            <option>Running</option>
                            <option>Approved</option>
                            <option>Pending</option>
                            <option>Cancel</option>
                            <option>Error</option>
                            <option>Consider</option>
                            <option>Recovery</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Remarks :</label>
				<div class="col-sm-7">
					<textarea name="remarks" class="form-control"rows="4" cols="30" [(ngModel)]="customer.Remarks"></textarea>
				</div>
            </div>
            <div class="emptyDiv"></div>
            <div class="emptyDiv"><div class="col-md-3"><button data-toggle="modal" data-target="#myModal" type="submit" class="btn btn-primary">Issue Loan</button></div> </div>
      </div>
      <div class="form-horizontal col-md-12 tab-content">
             <div class="table table-responsive">
             <table class="table table-bordered table-striped table-hover">
             <thead>
             <tr>
             <th class="col-md-1">S.No</th>
              <th class="col-md-1">Loan No</th>
              <th class="col-md-2">Loan Category</th>
              <th class="col-md-2">Agent Name</th>
              <th class="col-md-2">Loan Date</th>
              <th class="col-md-2">Loan Amount</th>
             <th class="col-md-2">Status</th>
             </tr>
             </thead>
             <tbody>
             <tr data-toggle="modal" data-target="#myModal">
             <td class="col-md-1">1</td>
             <td class="col-md-1">100001</td>
             <td class="col-md-2">Home Appliances</td>
             <td class="col-md-2">Sathya Electronics</td>
             <td class="col-md-2">30/9/2019</td>
             <td class="col-md-2">100000</td>
             <td class="col-md-2">Unpaid</td>
             </tr>
            
             </tbody>
             </table>
             </div>
             </div>
             <div class="modal fade" id="myModal" role="dialog">
             
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Loan Details</h4>
              </div>
              <div class="modal-body">
                       <ul class="nav nav-tabs ">
                  <li class="active" ><a data-toggle="tab" href="#detail">Loan Details</a></li>
                  <li ><a data-toggle="tab" href="#collection">Collection</a></li> 
                 <li ><a data-toggle="tab" href="#followup">Followup</a></li> 
                 <li ><a data-toggle="tab" href="#status">Status</a></li>   
                </ul>
                <div class="tab-content" >
                  <div id="detail" class="tab-pane fade in active " >  
                      <form  >
                      <div class="row">
                      <div class=" form-horizontal col-md-5">
                       <div class="form-group">
                     <label class="control-label col-sm-4">Loan Category :</label>
                     <div class="col-sm-8">
                            <select required #LName="ngModel" class="form-control" [(ngModel)]="loandetail.LoanCatID" name="LoanCatID">
                            <option *ngFor="let sa of LoanCategory" value="{{sa.dropdownKey}}">
                                {{sa.dropdownName}}
                            </option>
                        </select>
                     </div>
                    </div>
                    <div class="form-group">
              <label class="control-label col-sm-4" >Loan No:</label>
                  <div class="col-sm-6">
                  <input type="text" class="form-control">
                  </div>
                  </div>
                  <div class="form-group">
                  <label class="control-label col-sm-4" >Loan Method:</label>
                  <div class="col-sm-6">
                  <select class="form-control">
                      <option>New</option>
                      <option>Renewal</option>
                      <option>Additional</option>
                </select>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-4">Showroom/Agent:</label>
                  <div class="col-sm-8">
                        <select class="form-control" [(ngModel)]="loandetail.Agent_ShowroomID" name="AgentID">
                                <option *ngFor="let drop of AllSagent" value="{{drop.AgentID}}">
                                    {{drop.AgentName}}
                                </option>
                            </select>
              </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-4">Brand :</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="brand">
                          <option></option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-4">Things :</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="things">
                          <option></option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-4">Regd. No :</label>
                  <div class="col-sm-8">
                      <input type="text" id="regdNo" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                      <label class="control-label col-sm-4">Collection Method :</label>
                      <div class="col-sm-8">
                          <select class="form-control" id="collMethod">
                              <option>Office</option>
                              <option>Showroom</option>
                              <option>Line</option>
                              <option>Bank Transfer</option>
                              <option>Cheque</option>
                          </select>
                  </div>
              </div>
                  <div class="form-group">
                  <div class="col-sm-4">
                  </div>
                  <div class="col-sm-8">                         
                          <div class="checkbox">
                                <label style="font-weight: 600;"> <input type="checkbox" name="document" value="Agent Responsibility">Agent Responsibility</label>
                                     </div>
                                     <div class="checkbox">
                               <label style="font-weight: 600;"> <input type="checkbox"  name="document" value="Payment By Bank">Payment By Bank</label> 
                                     </div>
                      </div>
                  
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-4">Security Type :</label>
                  <div class="col-sm-8">
                      <select class="form-control" id="securityType">
                          <option>Mortgage</option>
                          <option>Endorsement</option>
                          <option>None</option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-sm-4">Document :</label>
                    <div class="col-sm-8">
                            <div class="checkbox">
                       <label> <input type="checkbox" name="document" value="Mortgage Document">Mortgage Document</label>
                            </div>
                            <div class="checkbox">
                      <label> <input type="checkbox" name="document" value="Original Document">Original Document</label> 
                            </div>
                            <div class="checkbox">
                      <label> <input type="checkbox" name="document" value="Patta">Patta</label> 
                            </div>
                            <div class="checkbox">
                     <label><input type="checkbox" name="document" value="RCBook">RCBook</label> 
                        </div>
                    </div>
                </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-4">No. of Cheque :</label>
                  <div class="col-sm-4">
                      <input type="text" class="form-control" id="chequeNum">
                  </div>
                  <div class="col-sm-4">
                      <button type="button" id="loanSave" class="btn btn-primary">SAVE</button>
                  </div>
              </div>
              </div>
                      <div class=" form-horizontal col-md-7">
                      <div class="form-group">
              <label class="control-label col-sm-3" >Loan Date :</label>
              <div class="col-sm-3">
                    <ejs-datepicker id='loanDate' placeholder='Select a date'  ></ejs-datepicker>
              </div>
                  <label class="control-label col-sm-3" >Loan Amount:</label>
                  <div class="col-sm-3 ">
                  <input type="text" class="form-control" name="loanamt" [(ngModel)]="loandetail.LoanAmt" (focusout)="OnChange()">
                  </div>
              </div>
              <div class="form-group">
              <label class="control-label col-sm-3" >Total Loan Amt:</label>
                  <div class="col-sm-3">
                  <input type="text" class="form-control " name="TotLoanAmt" [(ngModel)]="loandetail.TotLoanAmt">
                  </div>
                  
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-3">Doc. Charge :</label>
                  <div class="col-sm-3">
                  <input type="text" id="docCharge" class="form-control" name="DocCharge" [(ngModel)]="loandetail.DocCharge" (focusout)="OnChange()">
                  </div>
                  <div class="col-sm-6">
                      <select class="form-control" [(ngModel)]="loandetail.DocChargeReceived" name="DocChargeReceived" (change)="OnChange()">
                          <option value="Received By Finance">Received By Finance</option>
                          <option value="Received By Showroom">Received By Showroom</option>
                          <option value="Add with Loan Amount">Add with Loan Amount</option>
                        </select>
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-3">Incentive Calculated By:</label>
                  <div class="col-sm-4">
                      <select class="form-control">
                          <option>Loan Amount</option>
                          <option>Document Charge</option>
                      </select>
                  </div>
              </div>
              <div class="form-group">
                      <label class="control-label col-sm-3">Incentive</label>
                      <div class="col-sm-2" style="padding-left: 0px;"> 
                       <div class="col-md-10">  <input  type="text" class="form-control" name="incratio" (focusout)="OnChange()" [(ngModel)]="loandetail.IncentiveRatio"> </div>  
                          <div style="float: right;">%</div>                     
                      </div>
                    
                      <div class="col-sm-2">
                          <input type="text" class="form-control" name="incentive" [(ngModel)]="loandetail.IncentiveAmt" >
                      </div>
                      <div class="col-sm-4">
                          <select class="form-control" name="incentivedrpdwn"  [(ngModel)]="loandetail.IncentiveType" (change)="OnChange()">
                              <option value="Every Loan Incentive">Every Loan Incentive</option>
                              <option value="Monthly Incentive">Monthly Incentive</option>
                          </select>
                      </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-3">Spl. Incentive :</label>
                  <div class="col-sm-4">
                      <input type="text" name="splIncentive" class="form-control" [(ngModel)]="loandetail.SplIncentiveAmt" (focusout)="OnChange()">
                  </div>
                  <!-- <div class="col-sm-4">
                  <button type="button" class="btn btn-primary" id="splIncentiveValidate">Validate</button>
                  </div> -->
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-3">Scheme</label>
                        <div class="col-sm-1"><input type="checkbox" class="form-check-input marginTop" id="scheme"></div>  
                  <div class="col-sm-2">
                      <input type="text" id="schemeTxt" class="form-control">
                  </div>
                  <label class="control-label col-sm-3">Scheme Calc.</label>
                  <div class="col-sm-3">
                      <input type="text" id="schemeCalcTxt" class="form-control">
                  </div>
              </div>
              <div class="form-group">
                      <label class="control-label col-sm-3">Scheme Amount :</label>
                      <div class="col-sm-3">
                          <input type="text" name="intRate" class="form-control" [(ngModel)]="loandetail.SchemeAmt" (focusout)="OnChange()">
                      </div>
                      <div class="col-sm-6">
                          <select class="form-control" name="SchemeAmtReceived"  [(ngModel)]="loandetail.SchemeAmtReceived" (change)="OnChange()">
                              <option selected disabled>Scheme Amt. Received By</option>
                              <option value="Received By Finance">Received By Finance</option>
                              <option value="Received By Showroom">Received By Showroom</option>
                              <option value="Add with Loan Amount">Add with Loan Amount</option>
                          </select>
                      </div>
              </div>
              <div class="form-group">
                    <label class="control-label col-sm-3">Interest Rate :</label>
                    <div class="col-sm-3">
                        <input type="text" name="intRate" class="form-control" [(ngModel)]="loandetail.IntRate">
                    </div>
                      <label class="control-label col-sm-3">Installments :</label>
                      <div class="col-sm-3">
                          <input type="text" name="installment" class="form-control" [(ngModel)]="loandetail.Instalments">
                      </div>
                  </div>
              <div class="form-group">
                      <label class="control-label col-sm-3">Interest Amount :</label>
                      <div class="col-sm-3">
                          <input type="text" name="intAmt" class="form-control" [(ngModel)]="loandetail.InterestAmt">
                      </div>
                      <label class="control-label col-sm-3">Total Amount :</label>
                      <div class="col-sm-3">
                          <input type="text" name="totAmt" class="form-control" [(ngModel)]="loandetail.TotAmount">
                      </div>
              </div>
              <div class="form-group">
                      <label class="control-label col-sm-3">First Due Date :</label>
                      <div class="col-sm-3">
                          <input type="text" id="firstDue" class="form-control">
                      </div>
                      <label class="control-label col-sm-3">Installment Amt:</label>
                      <div class="col-sm-3">
                          <input type="text" name="installmentAmt" class="form-control" [(ngModel)]="loandetail.InstalmentAmt">
                      </div>
                  </div>
              <div class="form-group">
                      <label class="control-label col-sm-3">Last Due Date :</label>
                      <div class="col-sm-3">
                          <input type="text" id="lastDue" class="form-control">
                      </div>
                      <label class="control-label col-sm-3">Net Amount :</label>
                      <div class="col-sm-3">
                          <input type="text" name="netAmt" class="form-control" [(ngModel)]="loandetail.NetAmt">
                      </div>
                      </div>
              <div class="form-group">
                      <div class="col-sm-12">
                              <input type="checkbox" class="form-check-input" name="roundOff" [(ngModel)]="roundoff5" (change)="OnChange()">
                              <label class="form-check-label" for="roundOff" >Round Off Due Amt by Rs.5</label>
                          </div>
              </div>
                      </div>
                      </div>
                      </form>
                  </div>
                   <div id="collection" class="tab-pane fade" > 
                      <form  >
                      <div class="row">
                      <div class=" form-horizontal col-md-4">
                      <div class="form-group">
                        <label class="control-label col-sm-5" >File No:</label>
                        <div class="col-sm-7 ">
                        <input type="text" class="form-control col-sm-3">
                     </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-5">Entry Date:</label>
                          <div class="col-sm-7">
                                <ejs-datepicker id='entryDate' placeholder='Select a date' ></ejs-datepicker>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-5">Bill Book:</label>
                          <div class="col-sm-5">
                                  <select class="form-control" id="billBook">
                                      <option>A1</option>
                                  </select>
                              </div>
                              <div class="col-sm-2">
                                  <button type="button" class="form-control btn btn-primary ">+</button>
                              </div>
                      </div>
                      <div class="form-group">
                              <label class="control-label col-sm-5">Due Receipt:</label>
                              <div class="col-sm-7">
                                      <input type="text" class="form-control" id="dueReceipt">
                                  </div>
                          </div>
                          <div class="form-group">
                                  <label class="control-label col-sm-5">Penalty Receipt:</label>
                                  <div class="col-sm-7">
                                          <input type="text" class="form-control" id="penReceipt">
                                      </div>
                              </div>
                             
                      </div>
                      <div class=" form-horizontal col-md-4">
                      <div class="form-group">
                       <label class="control-label col-sm-5" >Penalty Type:</label>
                       <div class="col-sm-7">
                      <select class="form-control">
                          <option>Monthly</option>
                          <option>Daily</option>
                    </select>
                      </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-5">Penalty Date:</label>
                          <div class="col-sm-7">
                                <ejs-datepicker id='penaltyDate' placeholder='Select a date' ></ejs-datepicker>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-5">Penalty Amt:</label>
                          <div class="col-sm-7">
                              <input type="text" class="form-control" id="penAmount">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-5">Due Balance:</label>
                          <div class="col-sm-7">
                              <input type="text" class="form-control" id="dueBal">
                          </div>
                      </div>
                      <div class="form-group">
                              <label class="control-label col-sm-5">Total Balance:</label>
                              <div class="col-sm-7">
                                  <input type="text" class="form-control" id="totalBal">
                              </div>
                          </div>
                      </div>
     
                      <div class="row">
                          <div class="col-md-12">
                              <div class="col-md-4"></div>
                              <div class="col-md-3">
                                    <div class="form-group">
                                            <div class="text-right col-sm-6">
                                              <button type="button" class="btn btn-primary" id="addEntry">ADD</button>
                                          </div>
                                         
                                          </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-horizontal col-md-12 tab-content">
                              <div class="table table-responsive">
                                  <table class="table table-bordered table-striped table-hover" id="collectionTbl">
                                  <thead>
                                      <tr>
                                      <th class="col-md-1">S.No</th>
                                       <th class="col-md-1">Date</th>
                                       <th class="col-md-1">Due</th>
                                       <th class="col-md-1">Due Amt.</th>
                                       <th class="col-md-1">Rec Date</th>
                                       <th class="col-md-1">Receipt</th>
                                      <th class="col-md-1">Penalty</th>
                                      <th class="col-md-1">Due Bal</th>
                                      <th class="col-md-1">Total Bal</th>
                                      <th class="col-md-1">Bill Book</th>
                                      <th></th>
                                      </tr>
                                  </thead>
                                      <tbody>
                                          <tr>
                                          <td>1</td>
                                          <td>19/9/2019</td>
                                          <td>12</td>
                                          <td>8500</td>
                                          <td>19/10/2019</td>
                                          <td>8500</td>
                                          <td>0</td>
                                          <td>0</td>
                                          <td>91500</td>
                                          <td>AB</td>
                                          <td>
                                                <div class="col-sm-3">
                                                  <button type="button" class="btn btn-primary glyphicon glyphicon-pencil"></button>
                                                  </div>
                                                  <div class="col-sm-3">
                                                    <button type="button" class="btn btn-primary glyphicon glyphicon-remove"></button>
                                                  </div>
                                                  <div class="col-sm-3">
                                                        <button type="button"  class="btn btn-primary glyphicon glyphicon-print"></button>
                                                      </div>   
                                          </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
  
                      </div>
                      </div>
                      </form>	
                      </div>			 
                  
                   <div id="followup" class="tab-pane fade" >
                      <form >
                      <div class="row">
                      <div class=" form-horizontal col-md-6">
                      <div class="form-group">
                          <label class="control-label col-sm-4">Followup Date :</label>
                          <div class="col-sm-4">
                                <ejs-datepicker id='datepicker1' placeholder='Select a date'  ></ejs-datepicker>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-4">Commitment Date:</label>
                          <div class="col-sm-4">
                                <ejs-datepicker id='datepicker2' placeholder='Select a date'></ejs-datepicker>
                          </div>
                      </div>
                      <div class="form-group">
                            <label class="control-label col-sm-4">Followup Status :</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="followupStat">
                                    <option>Running</option>
                                    <option>Recovery</option>
                                    <option>Error</option>
                                    <option>Legal</option>
                                </select>
                            </div>
                        </div>
                      </div>
                      <div class="form-horizontal col-md-6">
                              <div class="form-group">
                                      <label class="control-label col-sm-4">Remarks :</label>
                                      <div class="col-sm-6">
                                          <input class="form-control" type="text" id="remarks">
                                      </div>
                                  </div>
                          <div class="form-group">
                              <label class="control-label col-sm-4">Attended By :</label>
                              <div class="col-sm-6">
                                  <input type="text" class="form-control" id="attended" disabled>
                              </div>
                          </div>
                          
                      </div>
                      <div class="row">
                          <div class="form-horizontal col-md-12">
                              <div class="col-md-4"></div>
                              <div class="col-md-4">
                              <div class="form-group">
                                    <div class="col-sm-4">
                                        <button type="button" class="form-control btn btn-primary ">Add</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="button" class="form-control btn btn-primary">Delete</button>
                                        </div>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="form-horizontal col-md-12">
                              <div class="table table-responsive">
                                      <table class="table table-bordered table-striped table-hover" id="followupTable">
                                      <thead>
                                      <tr>
                                      <th class="col-md-1">S.No</th>
                                       <th class="col-md-1">Followup Dt</th>
                                       <th class="col-md-1">Commitment Dt</th>
                                       <th class="col-md-1">Remark</th>
                                       <th class="col-md-1">Attended By</th>
                                       <th class="col-md-1">Received</th>
                                      <th class="col-md-1">Due Balance</th>
                                      <th class="col-md-1">Status</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                            <td class="col-md-1">1</td>
                                            <td class="col-md-1">26/10/2019</td>
                                            <td class="col-md-1">24/10/2019</td>
                                            <td class="col-md-1">Follow up after week</td>
                                            <td class="col-md-1">ppranesh</td>
                                            <td class="col-md-1">0</td>
                                           <td class="col-md-1">0</td>
                                           <td class="col-md-1">Running</td>
                                        </tr>
                                          </tbody>
                                          </table>
                                          </div>
                      </div>
                      </div>
                      </form>				 
                  </div>
                   <div id="status" class="tab-pane fade" >  
                      <form   >
                      <div class="row">
                      <div class=" form-horizontal col-md-5">
                          <div class="form-group">
                              <label class="control-label col-sm-5">Loan Status :</label>
                              <div class="col-sm-6">
                                  <select class="form-control" id="loanStatus" (change)="changeLoanStatus($event.target.value)">
                                     <option value="Running">Running</option>
                                      <option  value="Consider">Consider</option>
                                      <option  value="Pending">Pending</option>
                                      <option  value="Error">Error</option>
                                      <option  value="Legal">Legal</option>
                                      </select>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label col-sm-5">Remarks :</label>
                              <div class="col-sm-6">
                                  <input type="text" class="form-control" id="remarks">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label col-sm-5">Repayment :</label>
                              <div class="col-sm-6">
                                  <select class="form-control" id="repayment">
                                      <option>Best</option>
                                      <option>Good</option>
                                      <option>Normal</option>
                                      <option>Bad</option>
                                      <option>Worst</option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-group">
                                  <label class="control-label col-sm-5">Customer Attitude :</label>
                                  <div class="col-sm-6">
                                      <select class="form-control" id="attitude">
                                          <option>Best</option>
                                          <option>Good</option>
                                          <option>Normal</option>
                                          <option>Bad</option>
                                          <option>Worst</option>
                                      </select>
                                  </div>
                              </div>
                      </div>
                      <div class=" form-horizontal col-md-5">
                              <div class="form-group" id="consider" style="display: none;">
                                      <label class="control-label col-sm-5">If Loan Status=Consider</label>							
                                      <div class="col-sm-6">
                                          <select class="form-control" id="consider">
                                              <option>Platinum</option>
                                              <option>Diamond</option>
                                              <option>Gold</option>
                                              <option>Silver</option>
                                              <option>Brass</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="control-label col-sm-5">N.O.C. Remarks:</label>
                                      <div class="col-sm-6">
                                          <textarea id="noc" class="form-control"rows="6" cols="50"></textarea>
                                      </div>
                                  </div>
                                 
                      </div>
                      </div>
                      <div class="row">
                          <div class="form-horizontal col-md-12">
                              <div class="col-md-5"></div>
                              <div class="col-md-2">
                                    <div class="form-group">
                                            <div class="col-sm-6">
                                            <button class = "btn btn-primary form-control" type="button" id="update">Update</button>
                                            </div>
                                        </div>
                              </div>
                          </div>
                      </div>
                      </form>
                  </div>		
             
            </div>
            
          </div>
        </div>
      </div>
        </div>
            <div id="CustProof" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Customer ID Proof</h4>
        </div>
        <div class="modal-body">
        <div class="form-horizontal col-md-12">
          <div class="form-group">
              <label class="control-label col-sm-2" >Proof Type :</label>
                  <div class="col-sm-2">
                  <select class="form-control"><option>AADHAR</option><option>FAMILY CARD</option><option>VOTER ID</option><option>PAN CARD</option><option>DRIVING LICENSE</option><option>PHOTO</option></select>
                  </div>
                  <div class="col-sm-2">
                      <input type="text" class="form-control">
                  </div>
                  <div class="col-sm-3">
                  <input type="file" class="form-control" >
                  
                  </div>
                  <div class="col-sm-1">
                  <button type="submit" class="form-control btn btn-primary" >Save</button>
                  
                  </div>
              </div>
              </div>
              
             <div class="table table-responsive custproof" >
             <table class="table table-bordered table-striped table-hover">
             <thead>
                    <tr>
                            <th class="col-md-2">S.No</th>
                             <th class="col-md-2">Proof Type</th>
                             <th class="col-md-3">ID</th>
                             <th class="col-md-3">Proof</th>
                             <th class="col-md-2"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr >
                            <td class="col-md-2">1</td>
                            <td class="col-md-2">Aadhar</td>
                            <td class="col-md-3">123456789</td>
                            <td class="col-md-3"><a>aadhar.jpg</a></td>
                           <th class="col-md-2">
                                   <button type="button" class="btn btn-primary">Delete</button>
                           </th>
                            </tr>
  
             </tbody>
             </table>
             </div>
      
        
      </div>
  
    </div>
  </div>
      
  </div>
  
              <div id="GuarnProof" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Guarantor ID Proof </h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal col-md-12">
          <div class="form-group">
              <label class="control-label col-sm-2" >Proof Type :</label>
                  <div class="col-sm-2">
                  <select class="form-control"><option>AADHAR</option><option>FAMILY CARD</option><option>VOTER ID</option><option>PAN CARD</option><option>DRIVING LICENSE</option></select>
                  </div>
                  <div class="col-sm-2">
                        <input type="text" class="form-control">
                    </div>
                  <div class="col-sm-3">
                  <input type="file" class="form-control" >
                  
                  </div>
                  <div class="col-sm-1">
                  <button type="submit" class="form-control btn btn-primary" >Save</button>
                  
                  </div>
              </div>
              </div>
              
             <div class="table table-responsive custproof" >
             <table class="table table-bordered table-striped table-hover">
             <thead>
             <tr>
             <th class="col-md-2">S.No</th>
              <th class="col-md-2">Proof Type</th>
              <th class="col-md-3">ID</th>
              <th class="col-md-3">Proof</th>
              <th class="col-md-2"></th>
             </tr>
             </thead>
             <tbody>
             <tr >
             <td class="col-md-2">1</td>
             <td class="col-md-2">Aadhar</td>
             <td class="col-md-3">123456789</td>
             <td class="col-md-3"><a>aadhar.jpg</a></td>
            <th class="col-md-2">
                    <button type="button" class="btn btn-primary">Delete</button>
            </th>
             </tr>
  
             </tbody>
             </table>
             </div>
      
        
      </div>
  
    </div>
  </div>
  </div>
             </div>
             </form>
              </div>
              </div>
              
              
              </div>
              
