
<div class="container-fluid">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
             <h4>CUSTOMER SEARCH</h4>
          </div>
          <div class='panel-body' id="panel">
          <form>
            <div class="row">
         <div class="form-horizontal col-md-6">
             <div class="form-group">
                    <label class="control-label col-sm-4" >Status :</label>
                    <div class="col-sm-6">
                    <select class="form-control">
                        <option>Running</option>
                        <option>Consider</option>        
                           <option>Pending</option>
                           <option>Error</option>
                           <option>Legal</option></select>
                    </div>
             </div>
             <div class="form-group">
                
                <label class="control-label col-sm-4">Customer Name :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="custName">
                </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4">Other Name List :</label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" id="otherNames">
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4">Address List :</label>
                 <div class="col-sm-6">
                        <input type="text" class="form-control" id="addrList">
                    </div>
             </div>
             <div class="form-group">
                    <label class="control-label col-sm-4">Loan Category :</label>
                    <div class="col-sm-6">
                           <input type="text" class="form-control" id="loanCategory">
                       </div>
             </div>
             <div class="form-group">
                    <label class="control-label col-sm-4">Showroom/Agent :</label>
                    <div class="col-sm-6">
                           <input type="text" class="form-control" id="showroom">
                       </div>
             </div>
                        
         </div>
         <div class="form-horizontal col-md-6">
            <div class="form-group">
                    <label class="control-label col-sm-4">Customer ID :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="customerId">
                    </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">ID Proof List :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="proofList">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Contact List :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="contactList">
                </div>
            </div>
            <div class="form-group">
                    <label class="control-label col-sm-4">Line :</label>
                    <div class="col-sm-6">
                           <input type="text" class="form-control" id="line">
                       </div>
             </div>
             <div class="form-group">
                    <label class="control-label col-sm-4">Area :</label>
                    <div class="col-sm-6">
                           <input type="text" class="form-control" id="area">
                       </div>
             </div>
             <div class="form-group">
                    <label class="control-label col-sm-4">Keyword Search :</label>
                    <div class="col-sm-6">
                           <input type="text" class="form-control" id="wordSearch">
                       </div>
             </div>
            
         </div>
         </div>
         <div class="row">
             <div class="form-horizontal col-md-5"></div>
             <div class="form-horizontal col-md-6">
                <div class="form-group">
                    <div class="col-sm-6">
                            <button type="button" class="btn btn-primary">Search</button>
                    </div>
             </div>
             </div>
         </div>
        
         <div class="form-horizontal col-md-12">
                <div class="table table-responsive">
                <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                <th class="col-md-2">Customer ID</th>
                 <th class="col-md-2">Customer Name</th>
                 <th class="col-md-1">Father Name</th>
                 <th class="col-md-1">Area</th>
                 <th class="col-md-2">Contact Num</th>
                 <th class="col-md-2">Reference Name</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-1">Created Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td class="col-md-1">1</td>
                <td class="col-md-1">Kumar</td>
                <td class="col-md-2">Mani</td>
                <td class="col-md-2">Erode Fort</td>
                <td class="col-md-2">9999999999</td>
                <td class="col-md-2">Aravind</td>
                <td class="col-md-2">Running</td>
                <td class="col-md-2">10/09/2019</td>
                </tr>
                </tbody>
                </table>
                </div>
         </div>
         </form>
        </div>
    </div>
</div>
