
<div class="container-fluid">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
             <h4>CUSTOMER SEARCH</h4>
          </div>
          <div class='panel-body' id="panel">
          <form #form="ngForm">
            <div class="row">
         <div class="form-horizontal col-md-6">
             <div class="form-group">
                    <label class="control-label col-sm-4"  >Status :</label>
                    <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="search.Status" name="status">
                        <option>All</option>
                        <option>Running</option>
                        <option>Consider</option>        
                           <option>Pending</option>
                           <option>Error</option>
                           <option>Legal</option></select>
                    </div>
             </div>
             <div class="form-group">
                
                <label class="control-label col-sm-4">Customer Name :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="custName" name="custName" [(ngModel)]="search.CustName">
                </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4">Other Name List :</label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="otherNames" id="otherNames" [(ngModel)]="search.OtherName">
                 </div>
             </div>
             <div class="form-group">
                 <label class="control-label col-sm-4">Address List :</label>
                 <div class="col-sm-6">
                        <input type="text" class="form-control" name="addrList" id="addrList" [(ngModel)]="search.Address">
                    </div>
             </div>
            
             <div class="form-group">
                <label class="control-label col-sm-4">Contact List :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="contactList" id="contactList" [(ngModel)]="search.ContactList">
                </div>
            </div>           
         </div>
         <div class="form-horizontal col-md-6">
            <div class="form-group">
                    <label class="control-label col-sm-4">Customer ID :</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="customerId" id="customerId" [(ngModel)]="search.CustID">
                    </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">ID Proof List :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="proofList" id="proofList" [(ngModel)]="search.IDProof">
                </div>
            </div>
            
            <div class="form-group">
                    <label class="control-label col-sm-4">Line :</label>
                    <div class="col-sm-6">
                        <select  class="form-control" #li="ngModel" [(ngModel)]="search.Line"  name="line">
                            <option value="All">All</option>
                            <option  *ngFor="let l of AllLine" value="{{l.TalukName}}">{{l.TalukName}}
                            </option>                         
                           </select>
                       </div>
             </div>
             <div class="form-group">
                    <label class="control-label col-sm-4">Area :</label>
                    <div class="col-sm-6">
                        <select  class="form-control" #li="ngModel" [(ngModel)]="search.Area"  name="area">
                            <option value="All">All</option>
                            <option  *ngFor="let a of AllArea" value="{{a.AreaName}}">{{a.AreaName}}
                            </option>                         
                           </select>
                       </div>
             </div>
             <div class="form-group">
                    <label class="control-label col-sm-4">Keyword Search :</label>
                    <div class="col-sm-6">
                           <input type="text" class="form-control" name="wordSearch" id="wordSearch" [(ngModel)]="search.KeywordSearch">
                       </div>
             </div>
            
         </div>
         </div>
         <div class="row">
             <div class="form-horizontal col-md-5"></div>
             <div class="form-horizontal col-md-6">
                <div class="form-group">
                    <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" (click)="Search(form)">Search</button>
                    </div>
                    <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" (click)="Clear(form)">Clear</button>
                    </div>
             </div>
             </div>
         </div>
        
         <div class="form-horizontal col-md-12">
                <div class="table table-responsive">
                <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                <th class="col-md-2">Customer ID</th>
                 <th class="col-md-2">Customer Name</th>
                 <th class="col-md-1">Father Name</th>
                 <th class="col-md-1">Area</th>
                 <th class="col-md-2">Contact Num</th>
                 <th class="col-md-2">Reference Name</th>
                <th class="col-md-1">Status</th>
                <th class="col-md-1">Created Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let l of pagedItems" (click)="NavigatetoLoan(l)">
                <td class="col-md-1">{{l.CustomerID}}</td>
                <td class="col-md-1">{{l.CustomerName}}</td>
                <td class="col-md-2">{{l.FatherName}}</td>
                <td class="col-md-2">
                    <select class="form-control"  name="StateID">
                        <option *ngFor="let drop of AllArea" value="{{drop.AreaID}}" [selected]="drop.AreaID==l.AreaID">{{drop.AreaName}}</option>                           
                        </select>
                </td>
                <td class="col-md-2">{{l.CustPrimaryContact}}</td>
                <td class="col-md-2">{{l.ReferedBy}}</td>
                <td class="col-md-2">{{l.ReqStatus}}</td>
                <td class="col-md-2">{{l.RequestDate|date:"dd/MM/y"}}</td>
                </tr>
                </tbody>
                </table>
                </div>
         </div>
         <div style="text-align: center" id="pager">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
               <li [ngClass]="{disabled:pager.currentPage === 1}">
                   <a (click)="setPage(1)">First</a>
               </li>
               <li [ngClass]="{disabled:pager.currentPage === 1}">
                   <a (click)="setPage(pager.currentPage - 1)">Previous</a>
               </li>
               <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                   <a (click)="setPage(page)">{{page}}</a>
               </li>
               <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                   <a (click)="setPage(pager.currentPage + 1)">Next</a>
               </li>
               <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                   <a (click)="setPage(pager.totalPages)">Last</a>
               </li>
           </ul>
         </div>
         </form>
        </div>
    </div>
</div>
