<div class='container-fluid' *ngIf="!loginPage">
    <div class="row">
      <nav class="navbar navbar-fixed-top navbar-inverse">
          <div class="container-fluid">
          <div class="navbar-header">
              <img class="pull-left logo" src="assets/Logo.jpg" style="height:100%;">
            <a class="navbar-brand">Marudham Capitals</a>
          </div>
          <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="/DashboardPage" routerLinkActive='DashboardPage'>Dashboard</a></li>
              <!-- <li class="nav-item"><a class="nav-link" routerLink="/DashboardSecond">Dashboard (Pending)</a></li> -->
              <li class="nav-item"><a class="nav-link" (click)="resetRequest()" routerLink="/LoanRequest" *ngIf="loanReqPage">Loan Request</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/LoanReqSearch" *ngIf="loanReqViewPage">Loan Request View</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/Verification" *ngIf="loanReqViewPage">Verification</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/LoanIssue" *ngIf="loanissuePage">Loan Issue/Collection</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/MasterData" *ngIf="masterData">Master Details</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/Reports" *ngIf="Reports">Reports</a></li>
            <li class="nav-item"><a class="nav-link pull-right" (click)="logout()">Logout</a></li>
          </ul>
        </div>
          </nav>
        </div>
    <div class="row" style="padding-top: 5%;">
      <router-outlet></router-outlet>
    </div>
  </div>
<div class='panel panel-primary' *ngIf="loginPage">
    <div class='panel-heading'>
       <h4>Account Login</h4>
    </div>
    <div class='panel-body' id="panel">
  <div ng-app="myApp" ng-controller="myController" class="container">
    <form name="myForm" #form1="ngForm">
      <div class="login-container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>User Name</label>
              <input type="email" name="email" required [(ngModel)]="login.username" class="form-control" #email="ngModel">
              <div *ngIf="email.errors?.required && formSubmit " 
                                    class="error">
                                   Required
                                    </div>
                                    
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="pass" [(ngModel)]="login.password" required class="form-control" #pswd="ngModel">
              <div *ngIf="pswd.errors?.required  && formSubmit " 
                                    [ngClass]="'error'">
                                   Required
                                    </div>
              <!-- <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">Required!</div> -->
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button (click)="ValidateLogin(email.value,pswd.value,form1)" ng-disabled="myForm.$invalid" class="btn btn-success pull-right">Login</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            <!-- <div ng-show="showError" class="alert alert-danger">Wrong credentials!</div> -->
            <!-- <div ng-show="showSuccess" class="alert alert-success">Login Successful!</div> -->
          </div>
        </div>
      </div>
    </form>
    <!-- <div class="row" style="padding-top: 5%;">
      <router-outlet></router-outlet>
    </div> -->
  </div>
  </div>
  </div>