.modal-dialog
    {
    width:50%;
    height:50%;
    margin:150px auto !important;
    }
    .panel-heading {
        position: sticky;
        width: 100%;
        z-index: 99999;
        top: 0;
    }
