<div class="container-fluid">
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                 <h4>LOAN REQUEST SEARCH</h4>
              </div>
              <div class='panel-body' id="loanReqPanel">
              <form #form="ngForm">
                <div class="row">
        
             <div class="form-horizontal col-md-6">
                    <div class="form-group">
                            <label class="control-label col-sm-3" >Status :</label>
                            <div class="col-sm-4">
                            <select class="form-control" name="Status" [(ngModel)]="requestSearch.Status">
                                <option selected>Request</option>
                                <option>Approved</option>        
                                   <option>Rejected</option>
                                   <option>Issued</option>
                                   <option>Waitlist</option>
                                   <option>Revoked</option>
                                   <option>All</option>
                                </select>
                            </div>
                     </div>
               
                 <div class="form-group">
                    <label class="control-label col-sm-3">Request ID :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="requestID" [(ngModel)]="requestSearch.RequestID">
                    </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Customer Name :</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="custName" [(ngModel)]="requestSearch.CustName">
                        </div>
                     </div>
                 <div class="form-group">
                     <label class="control-label col-sm-3">Other Name List :</label>
                     <div class="col-sm-4">
                         <input type="text" class="form-control" name="otherNames" [(ngModel)]="requestSearch.OtherName">
                     </div>
                 </div>
                 <div class="form-group">
                     <label class="control-label col-sm-3">Address :</label>
                     <div class="col-sm-4">
                            <input type="text" class="form-control" name="addrList" [(ngModel)]="requestSearch.Address"> 
                        </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Loan Category :</label>
                        <div class="col-sm-4">
                            <select  class="form-control"  [(ngModel)]="requestSearch.LoanCategory"  name="category">
                                <option  *ngFor="let l of LoanCategory" value="{{l.dropdownName}}">{{l.dropdownName}}
                                </option>                         
                               </select>
                           </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Showroom/Agent :</label>
                        <div class="col-sm-4">
                            <select  class="form-control"  [(ngModel)]="requestSearch.AgentName"  name="agent">
                                <option  *ngFor="let s of AllSagent" value="{{s.AgentName}}">{{s.AgentName}}
                                </option>                         
                               </select>
                           </div>
                 </div>
               
                            
             </div>
             <div class="form-horizontal col-md-6">
                    <div class="form-group">
                            <label class="control-label col-sm-3" >From Date :</label>
                            <div class="col-sm-4">
                                  <ejs-datepicker name='fromDate' placeholder='Select a date' format ="dd/MM/yyyy" [(ngModel)]="requestSearch.FromDate" ></ejs-datepicker>
                            </div>
                     </div>
                    <div class="form-group">
                            <label class="control-label col-sm-3" >To Date :</label>
                            <div class="col-sm-4">
                                  <ejs-datepicker name='fromDate' placeholder='Select a date' format ="dd/MM/yyyy"  [(ngModel)]="requestSearch.ToDate" ></ejs-datepicker>
                            </div>
                     </div>
                <div class="form-group">
                        <label class="control-label col-sm-3">Customer ID :</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="customerId" [(ngModel)]="requestSearch.CustID"> 
                        </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">ID Proof List :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="proofList" [(ngModel)]="requestSearch.IDProof">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Contact List :</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="contactList" [(ngModel)]="requestSearch.ContactList">
                    </div>
                </div>
               
                 <div class="form-group">
                        <label class="control-label col-sm-3">Area :</label>
                        <div class="col-sm-4">
                            <select   class="form-control" #li="ngModel" [(ngModel)]="requestSearch.Area"  name="area">
                                <option  *ngFor="let a of AllArea" value="{{a.AreaName}}">{{a.AreaName}}
                                </option>                         
                               </select>
                           </div>
                 </div>
                 <div class="form-group">
                        <label class="control-label col-sm-3">Keyword Search :</label>
                        <div class="col-sm-6">
                               <input type="text" class="form-control" name="wordSearch" [(ngModel)]="requestSearch.KeywordSearch">
                           </div>
                 </div>
             </div>
             </div>
             <div class="row">
                    <div class="form-horizontal col-md-5"></div>
                    <div class="form-horizontal col-md-3">
                       <div class="form-group">
                           <div class="col-sm-8">
                                   <button type="button" class="btn btn-primary" (click)="Search(form)">Search</button>
                           </div>
                    </div>
                    </div>
                </div>
             <div class="form-horizontal col-md-12">
                    <div class="table table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                    <th class="col-md-2">Request Date</th>
                     <th class="col-md-1">Request ID</th>
                     <th class="col-md-1">Customer ID</th>
                     <th class="col-md-1">Customer Name</th>
                     <th class="col-md-2">Area</th>
                     <th class="col-md-2">Loan Amount</th>
                    <th class="col-md-1">Agent/Showroom</th>
                    <th class="col-md-1">Status</th>
                    <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let r of requestAll">
                    <tr data-toggle="modal" (click)="SaveRequestID(r.RequestID)" data-target="#loanreqSearchModal">
                    <td class="col-md-1">{{r.RequestDate|date:"dd/MM/y"}}</td>
                    <td class="col-md-1">{{r.RequestID}}</td>
                    <td class="col-md-2">{{r.CustomerID}}</td>
                    <td class="col-md-2">{{r.CustomerName}}</td>
                    <td class="col-md-2">
                        <select  class="form-control" disabled name="area">
                            <option  *ngFor="let a of AllArea" value="{{a.AreaID}}" [selected]="a.AreaID==r.AreaID">{{a.AreaName}}
                            </option>                         
                           </select>
                    </td>
                    <td class="col-md-2">{{r.LoanAmt}}</td>
                    <td class="col-md-2">
                        <select  class="form-control" disabled name="category">
                            <option  *ngFor="let l of LoanCategory" [selected]="l.dropdownKey==r.LoanCatID" value="{{l.dropdownKey}}">{{l.dropdownName}}
                            </option>                         
                           </select>
                    </td>
                    <td class="col-md-2">{{r.ReqStatus}}</td>
                    <td><button  class="btn btn-primary glyphicon glyphicon-pencil" type="button" (click)="NavigateLoan(r.RequestID)"></button></td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
             </div>
             <div class="modal fade" id="loanreqSearchModal" role="dialog">
             
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content" style="height:40%">
                        <div class="modal-header">
                          <button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Loan Request</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                            <div class="form-horizontal col-md-12">
                                <div class="form-group">
                                        <label class="control-label col-sm-4">Remarks :</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" type="text" name="remarks" [(ngModel)]="update.Remark">
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="control-label col-sm-4">Status :</label>
                                        <div class="col-sm-4">
                                        <select class="form-control" [(ngModel)]="update.Status" name="status">
                                            <option value="Approved">Approved</option>
                                            <option value="Rejected">Rejected</option>
                                            <option value="Waitlist">Waitlist</option>
                                            <option value="Revoked">Revoked</option>
                                        </select>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-3 ">
                                        <button type="button" id="reqChange" class="btn btn-primary form-control" (click)="SaveStatus()">Submit</button>
                                    </div>
                                </div>
                            </div>
                            </form>
                            </div>
                      </div>
                    </div>
             </div>

             </form>
            </div>
        </div>
    </div>
    