  <div class="container-fluid">
  <div class='panel panel-primary'>
      <div class='panel-heading'>
          <h4>Dashboard</h4>
      </div>
      <div class='panel-body' id="dashboardPanel">
      <form>
        <div class="row">
          <div class="form-horizontal col-md-4">
            <div class="form-group">
                <label class="control-label col-sm-3" >From Date :</label>
                <div class="col-sm-6">
                  <ejs-datepicker id='datepicker' name="datepicker" [ngModel]="dateValue1"
                                   [format]="format" placeholder='Select a date' #startDate></ejs-datepicker>
                </div>
            </div>
          </div>
            <div class="form-horizontal col-md-4">
            <div class="form-group">
                <label class="control-label col-sm-3" >To Date :</label>
                <div class="col-sm-6">
                   <ejs-datepicker id='datepicker2' name = 'datePicker2' placeholder='Select a date' [ngModel]="dateValue1" [format]="format" #endDate></ejs-datepicker>    
                </div>
            </div>
            </div>
          <div class="form-horizontal col-md-4">
              <div class="form-group">
                  <button type="submit" id="summary" class="btn btn-primary" (click)="getDetails(startDate.value,endDate.value)">Show Summary</button>
              </div>
          </div>
    <div class="table table-responsive" >
      <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
      <th class="col-md-3">S.No</th>
       <th class="col-md-3">Index Names</th>
       <th class="col-md-3">Loans</th>
       <th class="col-md-3">Amount</th>
       
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of AllDetails"data-toggle="modal" data-target="#myModal" (click)="getSummaryValues(d.IndexNames,startDate.value,endDate.value)">
        <td class="col-md-3">{{d.Sno}}</td>
        <td class="col-md-3">{{d.IndexNames}}</td>
        <td class="col-md-3">{{d.Loans}}</td>
      <td class="col-md-3">{{d.Amount}}</td>  
      </tr>
      </tbody>
      </table>
      </div>
            </div>
    </form>
    </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
             
                        <div class="modal-dialog" style="padding-left: 10px;">
                        
                          <!-- Modal content-->
                          <div class="modal-content" id="modal-content" style="width: 925px; overflow-x: auto;" >
                            <div class="modal-header">
                                    <button type="button" id="dashboardBtn" class="close"  data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Summary Dashboard Details</h4>
                            </div>
                            <div class="modal-body">
                                    <div class="table table-responsive" *ngIf="isRequest">
                                <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <th class="col-md-1">S.No</th>
                                    <th class="col-md-1">Branch Name</th>
                                    <th class="col-md-1">Line Name</th>
                                    <th class="col-md-1">Area Name</th>
                                    <th class="col-md-1">Category Name</th>
                                    <th class="col-md-1">Agent Name</th>
                                    <th class="col-md-1">Request ID</th>
                                    <th class="col-md-1">Request Date</th>
                                    <th class="col-md-1">Customer ID</th>
                                    <th class="col-md-1">Customer Name</th>
                                    <th class="col-md-1">Loan Amount</th>
                                    <th class="col-md-1">Status</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let val of Values">
                                        <td class="col-md-1">{{val.SNo}}</td>
                                        <td class="col-md-1">{{val.BranchName}}</td>
                                        <td class="col-md-1">{{val.LineName}}</td>
                                        <td class="col-md-1">{{val.AreaName}}</td>
                                        <td class="col-md-1">{{val.CategoryName}}</td>
                                        <td class="col-md-1">{{val.AgentName}}</td>
                                        <td class="col-md-1">{{val.RequestID}}</td>
                                        <td class="col-md-1">{{val.RequestDate}}</td>
                                        <td class="col-md-1">{{val.CustomerID}}</td>
                                        <td class="col-md-1">{{val.CustomerName}}</td>
                                        <td class="col-md-1">{{val.LoanAmt}}</td>
                                        <td class="col-md-1">{{val.ReqStatus}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            <div class="table table-responsive" *ngIf="isApprRej">
                                    <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                            <th class="col-md-1">S.No</th>
                                            <th class="col-md-1">Branch Name</th>
                                            <th class="col-md-1">Line Name</th>
                                            <th class="col-md-1">Area Name</th>
                                            <th class="col-md-1">Category Name</th>
                                            <th class="col-md-1">Agent Name</th>
                                            <th class="col-md-1">Request ID</th>
                                            <th class="col-md-1">Request Date</th>
                                            <th class="col-md-1">Approved/Rejected Date</th>
                                            <th class="col-md-1">Customer ID</th>
                                            <th class="col-md-1">Customer Name</th>
                                            <th class="col-md-1">Loan Amount</th>
                                            <th class="col-md-1">Status</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let val of Values">
                                                <td class="col-md-1">{{val.SNo}}</td>
                                                <td class="col-md-1">{{val.BranchName}}</td>
                                                <td class="col-md-1">{{val.LineName}}</td>
                                                <td class="col-md-1">{{val.AreaName}}</td>
                                                <td class="col-md-1">{{val.CategoryName}}</td>
                                                <td class="col-md-1">{{val.AgentName}}</td>
                                                <td class="col-md-1">{{val.RequestID}}</td>
                                                <td class="col-md-1">{{val.RequestDate}}</td>
                                                <td class="col-md-1">{{val.Date}}</td>
                                                <td class="col-md-1">{{val.CustomerID}}</td>
                                                <td class="col-md-1">{{val.CustomerName}}</td>
                                                <td class="col-md-1">{{val.LoanAmt}}</td>
                                                <td class="col-md-1">{{val.ReqStatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                    <div class="table table-responsive" *ngIf="isCollClosed">
                                            <table class="table table-bordered table-striped table-hover">
                                            <thead>
                                                    <th class="col-md-1">S.No</th>
                                            <th class="col-md-1">Branch Name</th>
                                            <th class="col-md-1">Line Name</th>
                                            <th class="col-md-1">Area Name</th>
                                            <th class="col-md-1">Category Name</th>
                                            <th class="col-md-1">Showroom</th>
                                            <th class="col-md-1">Customer ID</th>
                                            <th class="col-md-1">Customer Name</th>
                                            <th class="col-md-1">Loan No</th>
                                            <th class="col-md-1">Last Collection Date</th>
                                            <th class="col-md-1">Collection Amount</th>
                                            <th class="col-md-1">Status</th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let val of Values">
                                                        <td class="col-md-1">{{val.SNo}}</td>
                                                        <td class="col-md-1">{{val.BranchName}}</td>
                                                        <td class="col-md-1">{{val.LineName}}</td>
                                                        <td class="col-md-1">{{val.AreaName}}</td>
                                                        <td class="col-md-1">{{val.CategoryName}}</td>
                                                        <td class="col-md-1">{{val.AgentName}}</td>
                                                        <td class="col-md-1">{{val.CustomerID}}</td>
                                                <td class="col-md-1">{{val.CustomerName}}</td>
                                                <td class="col-md-1">{{val.RequestID}}</td>
                                                <td class="col-md-1">{{val.RequestDate}}</td>
                                                <td class="col-md-1">{{val.LoanAmt}}</td>
                                                <td class="col-md-1">{{val.ReqStatus}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </div>
                                        <div class="table table-responsive" *ngIf="isIssued">
                                          <table class="table table-bordered table-striped table-hover">
                                          <thead>
                                                  <th class="col-md-1">S.No</th>
                                          <th class="col-md-1">Branch Name</th>
                                          <th class="col-md-1">Line Name</th>
                                          <th class="col-md-1">Area Name</th>
                                          <th class="col-md-1">Category Name</th>
                                          <th class="col-md-1">Showroom</th>
                                          <th class="col-md-1">Customer ID</th>
                                          <th class="col-md-1">Customer Name</th>
                                          <th class="col-md-1">Loan No</th>
                                          <th class="col-md-1">Loan Date</th>
                                          <th class="col-md-1">Loan Amount</th>
                                          <th class="col-md-1">Status</th>
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let val of Values">
                                                      <td class="col-md-1">{{val.SNo}}</td>
                                                      <td class="col-md-1">{{val.BranchName}}</td>
                                                      <td class="col-md-1">{{val.LineName}}</td>
                                                      <td class="col-md-1">{{val.AreaName}}</td>
                                                      <td class="col-md-1">{{val.CategoryName}}</td>
                                                      <td class="col-md-1">{{val.AgentName}}</td>
                                                      <td class="col-md-1">{{val.CustomerID}}</td>
                                              <td class="col-md-1">{{val.CustomerName}}</td>
                                              <td class="col-md-1">{{val.RequestID}}</td>
                                              <td class="col-md-1">{{val.RequestDate}}</td>
                                              <td class="col-md-1">{{val.LoanAmt}}</td>
                                              <td class="col-md-1">{{val.ReqStatus}}</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                      </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
  </div>