  <div class="container-fluid">
  <div class='panel panel-primary'>
      <div class='panel-heading'>
          <h4>Dashboard</h4>
      </div>
      <div class='panel-body' id="dashboardPanel">
      <form>
        <div class="row">
          <div class="form-horizontal col-md-4">
            <div class="form-group">
                <label class="control-label col-sm-3" >From Date :</label>
                <div class="col-sm-6">
                  <ejs-datepicker id='datepicker' name="datepicker" [ngModel]="dateValue1|date:'dd/MM/yyyy'"
                                    placeholder='Select a date' #startDate></ejs-datepicker>
                </div>
            </div>
          </div>
            <div class="form-horizontal col-md-4">
            <div class="form-group">
                <label class="control-label col-sm-3" >To Date :</label>
                <div class="col-sm-6">
                   <ejs-datepicker id='datepicker2' name = 'datePicker2' placeholder='Select a date' [ngModel]="dateValue1|date:'dd/MM/yyyy'" #endDate></ejs-datepicker>    
                </div>
            </div>
            </div>
          <div class="form-horizontal col-md-4">
              <div class="form-group">
                  <button type="submit" id="summary" class="btn btn-primary" (click)="getDetails(startDate.value,endDate.value)">Show Summary</button>
              </div>
          </div>
    <div class="table table-responsive" >
      <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
      <th class="col-md-3">S.No</th>
       <th class="col-md-3">Index Names</th>
       <th class="col-md-3">Loans</th>
       <th class="col-md-3">Amount</th>
       
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of AllDetails">
        <td class="col-md-3">{{d.Sno}}</td>
        <td class="col-md-3">{{d.IndexNames}}</td>
        <td class="col-md-3">{{d.Loans}}</td>
      <td class="col-md-3">{{d.Amount}}</td>  
      </tr>
      </tbody>
      </table>
      </div>
            </div>
    </form>
    </div>
  </div>
  </div>